.content-item {
    object-fit: cover;
    background: lightgray; 

    margin: 1px; 
    flex-grow: 1;
    max-width: 1000px;
}

.detail-frame {
    background: #0C0C0DDE;
    position: fixed;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
}

.detail-item {
    margin: auto;
}