.page {
    position: relative;
    display: flex;
    flex-direction: column;
}

.main {
    flex: 1;
}

.topbar {
    background-image: linear-gradient(180deg, rgb(5, 39, 103) 0%, #3a0647 70%);
    border-bottom: 1px solid #d6d5d5;
    justify-content: center;
    height: 3.5rem;
    display: flex;
    align-items: center;
}

    /* .topbar ::deep a, .topbar .btn-link {
        white-space: nowrap;
        margin-left: 1.5rem;
    } */

    /* .topbar a:first-child {
        overflow: hidden;
        text-overflow: ellipsis;
    } */

@media (max-width: 640.98px) {
    /* .topbar:not(.auth) {
        display: none;
    } */

    .topbar.auth {
        justify-content: space-between;
    }

    /* .topbar a, .topbar .btn-link {
        margin-left: 0;
    } */
}

@media (min-width: 641px) {
    .page {
        flex-direction: row;
    }


    /* .topbar {
        position: sticky;
        top: 0;
        z-index: 1;
    } */

    .main > div {
        padding-left: 2rem !important;
        padding-right: 1.5rem !important;
    }
}
