@inherits LayoutComponentBase

<div class="page">
    <div class="main">
        <div class="px-4 topbar">
            <NavMenu />
        </div>
        <div class="content px-1">
            @Body
        </div>
    </div>
</div>
