<div class="nav">
        <span class="nav-item">
            <NavLink class="nav-link  px-5" href="/media">
                <span class="oi oi-home" aria-hidden="true"></span> Media
            </NavLink>
        </span>
        <span class="nav-item">
            <NavLink class="nav-link  px-5" href="/albums">
                <span class="oi oi-plus" aria-hidden="true"></span> Albums
            </NavLink>
        </span>
</div>
